
<div class="header" (scroll)="onscroll()" [ngClass]="headerfixed?'fixed':'no-fixed'">

  <div class= " mt-2 mb-2 flex centrado">

    <div>
      <a href="/principal" class="contenedorlogo">
        <!-- <i class="fa-solid fa-plane-departure"></i> -->
        <img  class="logoflybondiamarillo" src="/assets/img/flybondilogoamarillo.png" alt="">
        <!-- <h1 class="logo">Challenge FullStack Jr  <span> Agustin Trezza</span> </h1>  -->
    </a>
    </div>
    
  
    <nav class="contnavitem">
      <a class="navitem" href="/principal">Contenido 1</a>
      <a class="navitem" href="/contenido2">Contenido 2</a>
      <a class="navitem" href="/contenido3">Contenido 3</a>
    </nav>
  
  </div>
  
  <div class="complementovisualheader">
    <h1 class="complementonombre logo">Challenge FullStack Jr  <span> Agustin Trezza</span> </h1> 
  <!-- <h2 class="container complementenombre">Agustin Trezza</h2> -->
  </div>
  
  <nav class="contnavitem1">
    <a class="navitem" href="/principal">Contendio 1</a>
    <a class="navitem" href="/contenido2">Contendio 2</a>
    <a class="navitem" href="/contenido3">Contendio 3</a>
  </nav>
  
  <hr class="complementolinearesponsive">

</div>









