<div id="carouselExampleFade" class="carousel slide carousel-fade carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item">
        <img src="/assets/img/destinoo1 copia.jpg" class="d-block imagencarousel" alt="...">
      </div> 
      <div class="carousel-item">
        <img src="/assets/img/avionn2.jpg" class="d-block imagencarousel" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="/assets/img/collage1.png" class="d-block imagencarousel" alt="...">
      </div> -->
      <div class="carousel-item active">
        <img src="/assets/img/destinoo3.png" class="d-block imagencarousel" alt="...">
      </div>
      <!-- <div class="carousel-item active">
        <img src="/assets/img/collage1.png" class="d-block imagencarousel" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev botoncarousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next botoncarousel" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <main class="contenedor">
        <div class="contenedor-logos">
            <div class="paquete-logos">

              <div class="pruebasss">
                <img class="logo" src="/assets/img/iconografía-30.png" alt="">
              </div>

                <div class="titulo-texto-contenedor">
                    <h2 class="text-uppercase titulos-logos">REQUISITOS POR DESTINO</h2>
                    <p> Te contamos lo que tenés que tener antes de viajar. <a href="#">Click acá.</a> </p> 
                </div>
            </div>

            <div class="paquete-logos" >

              <div class="pruebasss">
                <img class="logo" src="/assets/img/iconografía-37.png" alt="">
              </div>

                <div class="titulo-texto-contenedor">
                    <h2 class="text-uppercase titulos-logos">CONSULTÁ TU VOUCHER</h2>
                    <p> Ingresá <a href="#">acá.</a> los datos de tu voucher para conocer el saldo disponible.</p>
                </div>
            </div>

            <div class="paquete-logos" >

              <div class="pruebasss">
                <img class="logo" src="/assets/img/iconografía-34.png" alt="">
              </div>

                <div class="titulo-texto-contenedor"> 
                    <h2 class="text-uppercase titulos-logos">ABONA CON TODOS LOS MEDIOS DE PAGO</h2>
                    <p> Pagá con tarjeta hasta en 18 cuotas, con débito o en efectivo. </p>
                </div>      
            </div>
        </div>

  </main>

  <app-vola-a-tu-medida> </app-vola-a-tu-medida>
  <app-btnflotante></app-btnflotante>
