<main class="contenedor">

    <div class="tituloscontenedor">
        <h1 class="titulo-principal">Volá a tu medida</h1>
        <h2 class="titulo-secundario">¡Elegí la opción que más te guste y preparate para despegar!</h2>
    </div>

    <div class="contenedor-imagenes">
            <div class="bloqueimg">
                <img class="imagen" src="/assets/img/vatumedida1.webp" alt="">
            </div>
            <div class="bloqueimg">
                <img class="imagen" src="/assets/img/vatumedida3.webp" alt="">
            </div>
            <div class="bloqueimg">
                <img class="imagen" src="/assets/img/vatumedida2.webp" alt="">
            </div>
            <div class="bloqueimg">
                <img class="imagen" src="/assets/img/ vatumedida4.webp" alt="">
            </div>
    </div>

    <div class="tituloscontenedor">
        <h1 class="titulo-principal">¿Cómo hacemos para darte los precios más bajos?</h1>
        <h2 class="titulo-secundario">Nuestro modelo de negocio no es un secreto: ya funciona en decenas de países de manera rentable. Algunos de nuestros pilares:</h2>
    </div>


    <div class="contenedor-logos">
        <div class="paquete-logos">
            <div class="redondel">
                <img class="logo" src="/assets/img/iconografía-20.png" alt="">
            </div>
    
            <div class="titulo-texto-contenedor">
                <h2 class="titulos-logos">Flota única</h2>
                <p> Un solo tipo de avión, un solo tipo de asientos. ¡Le decimos sí a la clase única! <a href="#">Click acá.</a> </p> 
            </div>
        </div>

        <div class="paquete-logos" >
            <div class="redondel">
                <img class="logo" src="/assets/img/iconografía-29.png" alt="">
            </div>
            
            <div class="titulo-texto-contenedor">
                <h2 class="titulos-logos">Solo pagás por lo que necesitás</h2>
                <p> ¿Ventana o pasillo? ¿equipaje en cabina o solo de mano? Te dejamos a vos decidir qué querés que tu pasaje incluya.</p>
            </div>
        </div>

        <div class="paquete-logos" >
            <div class="redondel">
                <img class="logo" src="/assets/img/iconografía-39.png" alt="">
            </div>

            <div class="titulo-texto-contenedor"> 
                <h2 class="titulos-logos">Comprás online</h2>
                <p> Sacá tu pasaje con tu celular o compu donde quieras, siempre a través directo de nuestra web. Sin comisiones. </p>
            </div>      
        </div>
    </div>

    <div class="contenedorboton">
        <button type="submit" class="boton">¿QUERÉS SABER MÁS SOBRE LOS VUELOS LOW COST?</button>
    </div>
    
</main>

<div class="contenedornewsletter">
    <h1 class="titulo-principal-duplicado">¡No te pierdas de nada!</h1>
    <h2 class="titulo-secundario">Hey! Suscribite a nuestro newsletter para enterarte de todo antes que nadie. Que no se corte!</h2>

    <div class="contenedorinputnewsletter">
        <input class="inputnewsletter" type="email" placeholder="Ingresá tu email">
        <button class="boton-newletter" type="submit">Enviar</button>
    </div>
</div>