<div class="complementovisualfooter">
    <h1 class="limpieza">Challenge FullStack Jr  <span> Agustin Trezza</span> </h1> 
<!-- <h2 class="container complementenombre">Agustin Trezza</h2> -->
</div>

<footer class="bg-dark text-white pt-4 pb-2">
    
    <div class="row text-center text-md-left">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 responsive">
            <h5 class="mb-4 text-start md:text-center somosflybondi">Somos FlyBondi</h5>
            <p class="text-start" >Somos los que no dejan que las distancias nos separen de los que más queremos. Somos los que hoy estamos acá y mañana podemos estar allá. Somos un equipo trabajando para que todos podamos volar.</p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 contenedornavfooter">
            <a  href="https://flybondi.com/ar" target="_blank" class="mb-3 font-weigth-bold itemnavfooter">Nuestro Sitio Web</a>
            <a  href="https://flybondi.com/ar/sobre-nosotros/" target="_blank" class="mb-3 font-weigth-bold itemnavfooter">Sobre FlyBondi</a>
            <a  href="https://ayuda.flybondi.com/es-419" target="_blank" class="mb-3 font-weigth-bold itemnavfooter">¿Preguntas?</a>
            <a  href="https://flybondi.com/ar/search/origin?&currency=ARS" target="_blank" class="mb-3 font-weigth-bold itemnavfooter">Buscar Vuelos</a>
            <a  href="https://flybondi.breezy.hr/" target="_blank" class="mb-3 font-weigth-bold itemnavfooter">Sumate al equipo</a>

        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 contenedorredes">
            <h5 class="mb-4 somosflybondi">Nuestras Redes</h5>

            <div class="contenedorlogosfooter">
                <div class="contredes mt-3">
                    <i (click)="direccionarFacebook()" class="fab fa-facebook-square" id="face"></i>
                    <i (click)="direccionarTwitter()" class="fab fa-twitter-square" id="twitter"></i>
                    <i (click)="direccionarLinkedin()" class="fab fa-linkedin" id="linkedin"></i>
                    <i (click)="direccionarInstagram()" class="fab fa-instagram-square" id="instagram"></i>   
                    <i (click)="direccionarYoutube()" class="fab fa-youtube-square" id="face"></i>
                </div>  

                
            </div>
                
        </div>
        
    </div>

    <hr class="separador container">
    
    <div class="contenedorlogoflybondifooter container">
        <img class="logoflybondyblanco mt-2 mb-2" src="/assets/img/flybondiblanco.png" alt="">
    </div>
    
</footer>
